 /*--------------------------------------------------------------*BPHX*/
 /*  INTERFACE COPY USED BY PROGRAM TO ROUTINES                 /*BPHX*/
 /*--------------------------------------------------------------*BPHX*/
 DCL 01  LNKDB_AREA UNALIGNED<STATIC>                  /*BPHX*/
         %INCLUDE LNKDBRT;                                      /*BPHX*/
                                                                /*BPHX*/
 LNKDB_STATE = ' ';                                             /*BPHX*/<INIT_STATIC>
<<FLGDB2I>>
<<PCB_AREA_ASS>>
<<PCB_AREA_EXEC>>
 /*--------------------------------------------------------------*BPHX*/
   %INCLUDE REVOPE;                                             /*BPHX*/
 /*--------------------------------------------------------------*BPHX*/
