 /*--------------------------------------------------------------*I-4M*/
 /*  INTERFACE COPY USED BY PROGRAM TO ROUTINES                 /*I-4M*/
 /*--------------------------------------------------------------*I-4M*/
 DCL 01  LNKDB_AREA UNALIGNED<STATIC>                  /*I-4M*/
         %INCLUDE LNKDBRT;                                      /*I-4M*/
                                                                /*I-4M*/
 LNKDB_STATE = ' ';                                             /*I-4M*/<INIT_STATIC>
<<FLGDB2I>>
<<PCB_AREA_ASS>>
<<PCB_AREA_EXEC>>
 /*--------------------------------------------------------------*I-4M*/
   %INCLUDE REVOPE;                                             /*I-4M*/
 /*--------------------------------------------------------------*I-4M*/
